body{
    background-color: rgba(9, 19, 50, 1);
    font-family: 'Roboto', sans-serif;
    color: rgb(107, 125, 163);
}

input{
    display: block;
    margin: 10px;
}

textarea{
    color: rgb(107, 125, 163);
    background-color: rgba(55, 55, 55, 0);
    padding: 5px;
}

.oculto{
    display: none;
}
